*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181818;
    height: 100vh;
    width: 100vw;
}

.title{
    height: 11%;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.title > h2{
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    cursor: pointer;
}

.main{
    height: 78%;
    width: 100%;
}

.fotter{
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotter > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: cursive;
}

@media (max-width: 800px) {
}